[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-core = "*"
langchain-community = "*"
azure-search-documents = "*"
azure-identity = "*"
typer = "*"
black = "*"
python-dotenv = "*"
openai = "*"
tiktoken = "*"
unstructured = "*"
streamlit = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
